<ul>
	<% @posts.each do |posts| %>
		<li>
			<h4>
				<%= link_to posts.title, posts %>
				<p style="float: right;"><%= posts.created_at.strftime(" %B %d, %Y") %></p><br>
			</h4>
			<%= raw(posts.body) %><hr>
		</li>
	<% end %>
  <% if current_user %>
  	<% if current_user.username.nil? || current_user.username.blank? %>
  		<%= link_to "New Post", users_update_profile_path %>
  	<% else %>
	 	<%= link_to "New Post", new_post_path %>
	 <% end %>
  <% end %>
</ul>