<!DOCTYPE html>
<html>
  <head>
    <title>BlogCk</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<% if current_user %>
  	<ul>
  		<li><%= current_user.name %></li>
  		<li><%= link_to 'Logout', logout_path, method: :delete %></li>
  	</ul>
  	<% else %>	
	  	<ul>
	  		<li><%= link_to 'Facebook', '/auth/facebook' %></li>
	  	</ul>
	<% end %>
    <%= yield %>
  </body>
</html>
