<!DOCTYPE html>
<html>
  <head>
    <title>BlogCk</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<% if current_user %>
  	<ul>
  		<li><%= current_user.name %></li>
  		<li><% if current_user.username.nil? || current_user.username.blank? %>
          <%= link_to 'Update Profile', users_update_profile_path %>
          <%end%>
        <%= link_to 'Logout', logout_path, method: :delete %></li>
  	</ul>
  	<% else %>	
	  	<ul>
	  		<li><%= link_to 'Facebook', '/auth/facebook' %></li><br>
        <li><%= link_to 'Google+', '/auth/google_oauth2' %></li><br>
        <li><%= link_to 'Github', '/auth/github' %></li>
	  	</ul>
	<% end %>
  <div class="container">
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>">
      <%= value %>
    </div>
  <% end %>
    <%= yield %>
  </body>
</html>
